body{
  text-align: center;
  background:pink;
}
.navbar{
  background:white;
  border-radius:30px;
}
.navbar ul{

list-style-type: none
  margin: 0auto;
  padding: 0;
}
.navbar ul li{
  display: inline-block;
  margin: 10px;
}
.navbar ul li a{
  text-decoration: none;
  color: purple;
}
h1{
  color:purple;
  font-family: 'Times New Roman', Times, serif;';
}
p{
  color:purple;
  font-family: 'Times New Roman', Times, serif
}



.form {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* h1 {
    text-align: center;
    margin-top: 20px; */
/* } */

form {
    text-align: center;
    margin-top: 20px;
}

input[type="date"] {
    padding: 8px;
}

button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}





 






